@media screen and (max-width: 900px) {
  .machine__container {
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 60, 60);
    margin: 15px;
  }
  .machine__container img {
    width: 100%;
  }
  .machine__wrapper h1 {
    color: #f8f7f4;
    font-size: 22px;
    margin: 15px;
  }
  .machine__wrapper h2 {
    color: #f8f7f4;
    font-weight: 500;
    font-size: 13px;
    margin: 15px;
    text-align: justify;
  }
}

@media screen and (min-width: 901px) and (max-width: 1620px) {
  .machine__container {
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 60, 60);
    margin: 20px;
    flex-basis: 35%;
  }
  .machine__container img {
    width: 100%;
  }
  .machine__wrapper h1 {
    color: #f8f7f4;
    font-size: 25px;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.342);
    margin: 20px;
  }
  .machine__wrapper h2 {
    color: #f8f7f4;
    font-weight: 500;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.342);
    margin: 20px;
    text-align: justify;
  }
}
@media screen and (min-width: 1621px) and (max-width: 1785px) {
  .machine__container {
    display: flex;
    background-color: rgb(63, 60, 60);
    margin: 10px 10px;
    flex-basis: 40%;
  }
  .machine__container img {
    width: 50%;
  }
  .machine__wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: justify;
  }
  .machine__wrapper h1 {
    color: #f8f7f4;
    font-size: 25px;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.342);
  }
  .machine__wrapper h2 {
    color: #f8f7f4;
    font-weight: 500;
    font-size: 15px;
    margin-top: 0;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.342);
  }
}
@media screen and (min-width: 1786px) {
  .machine__container {
    display: flex;
    background-color: rgb(63, 60, 60);
    margin: 10px 10px;
    flex-basis: 45%;
  }
  .machine__container img {
    width: 50%;
  }
  .machine__wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: justify;
  }
  .machine__wrapper h1 {
    color: #f8f7f4;
    font-size: 25px;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.342);
  }
  .machine__wrapper h2 {
    color: #f8f7f4;
    font-weight: 500;
    font-size: 15px;
    margin-top: 0;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.342);
  }
}
