
@media screen and (max-width: 480px) {
    .productcard__container {
        background-color: rgb(63, 60, 60);
        display: flex;
        justify-content: center;
    }
    .productcard__products {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .productcard__link {
        position: relative;
        color: black;
        list-style: none;
        border-left: 3px solid rgb(252,90,109);
        transition: 0.5s;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        width: 250px;
        background: #F8f7f4;
        justify-content: center;
        margin: 20px;
    }
    .productcard__link span {
        position: relative;
        padding-left: 12px;
        display: inline-block;
        z-index: 1;
        transition: 0.5s;
        width: 90%;
        padding-top: 8px;
        padding-left: 17px;
    }
    .productcard__link span:hover {
        color: #F8f7f4;
    }
    .productcard__link:before {
        content: "";
        position: absolute;
        width: 90%;
        height: 100%;
        background: rgb(252,90,109);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.5s;
      }
      .productcard__link:hover:hover:before {
        transform: scaleX(1);
      }
}
@media screen and (min-width: 481px) {
    .productcard__container {
        background-color: rgb(63, 60, 60);
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 40px;
    }
    .productcard__products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .productcard__products h4 {
        text-align: center;
        font-weight: 400;
        font-size: 17px;
    }
    .productcard__link {
        position: relative;
        color: black;
        list-style: none;
        border-left: 3px solid rgb(252,90,109);
        transition: 0.5s;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        width: 20px;
        background: #F8f7f4;
        justify-content: center;
        margin-top: 20px;
    }
    .productcard__link span {
        position: relative;
        padding-left: 12px;
        display: inline-block;
        z-index: 1;
        transition: 0.5s;
        width: 100%;
        padding-top: 8px;
        padding-left: 17px;
    }
    .productcard__link span:hover {
        color: #F8f7f4;
    }
    .productcard__link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(252,90,109);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.5s;
      }
    .productcard__link:hover:hover:before {
        transform: scaleX(1);
    }

    .categories__button {
        position: relative;
        color: black;
        list-style: none;
        border-left: 3px solid rgb(252,90,109);
        transition: 0.5s;
        cursor: pointer;
        font-size: 20px;
        background: #F8f7f4;
        margin-top: 20px;
    }
    .categories__button span {
        position: relative;
        display: inline-block;
        z-index: 1;
        transition: 0.5s;
        margin: 5px
    }
    .categories__button span:hover {
        color: #F8f7f4;
    }
    .categories__button:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(252,90,109);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.5s;
    }
    .categories__button:hover:hover:before {
        transform: scaleX(1);
    }
}
  