@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1,
h2,
h3 {
  opacity: 0;
  animation: fadeInSlideUp 1s ease forwards;
}

h1 {
  animation-delay: 0.2s;
}

h3 {
  animation-delay: 0.4s;
}

.text {
  animation-delay: 0.6s;
}

h2:not(.text) {
  animation-delay: 0.8s;
}
@media screen and (max-width: 480px) {
  .mainpage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-image: url("../../assets/there-are-threads-and-sewing-tools-on-the-table.jpg");
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10vh;
  }

  span {
    display: inline-block;
    opacity: 0;
    padding-right: 15px;
  }
  .mainpage__wrapper {
    text-align: center;
    color: rgb(235, 226, 226);
    text-shadow: 1px 1px 1px grey;
  }

  .mainpage__wrapper {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  .mainpage__wrapper h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
  }

  .mainpage__wrapper h3 {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .mainpage__wrapper h2 {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1000px) {
  .mainpage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-image: url("../../assets/there-are-threads-and-sewing-tools-on-the-table.jpg");
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mainpage__wrapper {
    text-align: center;
    color: rgb(235, 226, 226);
    text-shadow: 4px 4px 4px grey;
  }

  .mainpage__wrapper {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  .mainpage__wrapper h1 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .mainpage__wrapper h3 {
    font-size: 19px;
    margin-top: 5px;
  }

  .mainpage__wrapper h2 {
    font-size: 15px;
    margin: 4px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1920px) {
  .mainpage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../assets/there-are-threads-and-sewing-tools-on-the-table.jpg");
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mainpage__wrapper {
    text-align: center;
    color: rgb(241, 241, 241);
    text-shadow: 2px 2px 2px grey;
    padding-top: 30vh;
  }

  .mainpage__wrapper h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .mainpage__wrapper h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1921px) {
  .mainpage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url("../../assets/there-are-threads-and-sewing-tools-on-the-table.jpg");
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mainpage__wrapper {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px grey;
  }

  .mainpage__wrapper h1 {
    font-size: 45px;
    margin-bottom: 0;
  }

  .mainpage__wrapper h3 {
    font-size: 25px;
    margin-top: 5px;
  }
}
