@media screen and (max-width: 480px) {
    .contact__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: rgb(63, 60, 60);
        height: 750px;
    }
    .contact__wrapper h1 {
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
    
    .contact__wrapper h2 {
        color: rgb(252,90,109);
    }
    .contact__wrapper iframe {
        width: 300px;
        height: 200px;
        border: 0; 
    }
  }
  @media screen and (min-width: 481px) {
    .contact__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(63, 60, 60);
        height: 350px;
        padding-top: 40px;
    }
    .contact__wrapper {
        display: flex;
        flex-direction: column;
        color: white;
        margin: 15px 15px;
        width: 15%;
    }
    .contact__wrapper a {
        text-decoration: underline;
        color: white;
    }
    .contact__wrapper h2 {
        color: rgb(252,90,109);
        margin-bottom: 10px;
    }
    .contact__wrapper h1 {
        font-size: 15px;
    }
    .contact__wrapper iframe {
        width: 400px;
        height: 200px;
        border: 0; 
    }
}

  