@media screen and (max-width: 480px) {
  .machinecard__container {
    display: flex;
    flex-direction: row;
    background-color: #f8f7f4;
  }
  .machinecard__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) {
  .machinecard__container {
    display: flex;
    flex-direction: row;
    background-color: #f8f7f4;
  }
  .machinecard__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
