@media screen and (max-width: 1000px) {
  .embroidery__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .embroidery__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }
  .embroidery__image {
    overflow: hidden;
    margin: 40px;
  }
  .embroidery__image img {
    width: 350px;
    transition: transform 0.7s;
  }
  .embroidery__image img:hover {
    transform: scale(1.5);
  }
  .embroidery__wrapper ul {
    position: relative;
  }
  .embroidery__wrapper h2 {
    font-size: 15px;
    text-align: justify;
    font-weight: 300;
  }
  .embroidery__wrapper ul li {
    position: relative;
    left: 0;
    color: rgb(10, 10, 10);
    list-style: none;
    margin: 4px 0;
    border-left: 3px solid rgb(252, 90, 109);
    transition: 0.5s;
    cursor: pointer;
  }

  .embroidery__wrapper ul li:hover {
    left: 5px;
  }

  .embroidery__wrapper ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
  }
  .embroidery__wrapper ul li:hover span {
    color: #111;
  }
  .embroidery__wrapper ul li:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background: rgb(252, 90, 109);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
    z-index: 0;
  }
  .embroidery__wrapper ul li:hover:before {
    transform: scaleX(1);
  }
  .embroidery__wrapper h4 {
    text-align: center;
    margin: 5px;
    font-weight: 400;
  }
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
  .embroidery__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .embroidery__image {
    overflow: hidden;
    margin: 40px;
  }
  .embroidery__image img {
    width: 400px;
    transition: transform 0.7s;
  }
  .embroidery__image img:hover {
    transform: scale(1.5);
  }
  .embroidery__wrapper ul {
    position: relative;
  }
  .embroidery__wrapper h2 {
    font-size: 15px;
    text-align: justify;
    font-weight: 300;
    margin: 25px;
  }
  .embroidery__wrapper ul li {
    position: relative;
    left: 0;
    color: rgb(10, 10, 10);
    list-style: none;
    margin: 4px 0;
    border-left: 3px solid rgb(252, 90, 109);
    transition: 0.5s;
    cursor: pointer;
  }

  .embroidery__wrapper ul li:hover {
    left: 10px;
  }

  .embroidery__wrapper ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
  }
  .embroidery__wrapper ul li:hover span {
    color: #111;
  }
  .embroidery__wrapper ul li:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgb(252, 90, 109);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  .embroidery__wrapper ul li:hover:before {
    transform: scaleX(1);
  }
  .embroidery__wrapper h4 {
    text-align: center;
    margin: 5px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1001px) {
  .embroidery__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    gap: 10vh;
  }
  .embroidery__wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 50px;
  }
  .embroidery__wrapper h1 {
    font-size: 30px;
    color: #fa8072;
  }
  .embroidery__wrapper h2 {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .embroidery__image {
    width: 500px;
    overflow: hidden;
  }
  .embroidery__image img {
    width: 500px;
    transition: transform 0.7s;
  }

  .embroidery__container img:hover {
    transform: scale(1.5);
  }

  .embroidery__wrapper ul {
    position: relative;
  }

  .embroidery__wrapper ul li {
    position: relative;
    left: 0;
    color: rgb(10, 10, 10);
    list-style: none;
    margin: 4px 0;
    border-left: 3px solid rgb(252, 90, 109);
    transition: 0.5s;
    cursor: pointer;
  }

  .embroidery__wrapper ul li:hover {
    left: 10px;
  }

  .embroidery__wrapper ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
  }
  .embroidery__wrapper ul li:hover span {
    color: #111;
  }
  .embroidery__wrapper ul li:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgb(252, 90, 109);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  .embroidery__wrapper ul li:hover:before {
    transform: scaleX(1);
  }
  .embroidery__wrapper h4 {
    text-align: center;
    margin: 5px;
    font-weight: 400;
  }
}
